.pokemon{
  width: 100%;
  height: 650px;
  background-image: url(../img/sprite_pokemon.jpg);
  background-position: center 0px;
}
.media-query--name{
  font-family: "Kreon";
  text-align: center;
  font-weight: bold;
}

.media-query--name:after{
  content: "Salameche";
  font-size: 3em;
  text-transform: uppercase;
}

@media #{$small} {
  .pokemon{
    background-image: url(../img/sprite_pokemon.jpg);
    background-position: 0px -650px;
  }
  .media-query--name:after{
    content: "reptincel";
  }

}

@media #{$medium} {
  .pokemon{
    background-image: url(../img/sprite_pokemon.jpg);
    background-position: 0px -1300px;
  }
  .media-query--name:after{
    content: "dracaufeu";
  }
}

@media #{$large} {
  .pokemon{
    background-image: url(../img/sprite_pokemon.jpg);
    background-position: 0px -1950px;
  }

  .media-query--name:after{
    content: "dracaufeu_flame";
  }

}

@media #{$landscape} {
  background-image: url(../img/dracaufeu_vol.jpg);

  .media-query--name:after{
    content: "dracaufeu_vol";
  }
}
